.Contact{
    background-image:linear-gradient(rgba(9, 8, 8, 0.904),rgba(57, 51, 51, 0.563)), url('../../assets/Contact.jpg');
    height: 108vh;
    background-position: 90%;
    background-repeat: no-repeat;
    object-fit: cover;
    
    /* position: relative;
    top: -10vh; */
    /* margin-bottom: -10vh; */
    margin-top: -10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.Contact h2{
text-align: start;
margin-bottom: 20px;



}
.Contact p{
    text-align: start;
}
/* .formbox{
    background-color: white;
    width: 40vw;
    height: 50vh;
    border-radius: 4px;
    box-shadow: 5px 2px 8px 4px #1b1919c9;
    margin-right: 20px;
    
} */

.contactText{
    /* margin-left: 30px; */
    height: 60vh;
    width: 20vw;
    background-color:#3d89f7;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-left: 3vw;
        border-top-right-radius: 4px;
        border-end-end-radius: 4px;
}
.contactText h1{
    font-size: 14px;
    font-weight:700;
  
}
.contactText h2{
    margin-top: 5vh;
    font-weight: normal;
}

.contactText div{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    flex-wrap: wrap;
    align-items: center;
  
}
@media (max-width:1200px) {
    .contactText{
        height: 60vh;
    }
    .contactText h1{
        font-size: 10px;
    }
}

@media (max-width:950px) {
    .contactText{
        height: 60vh;
        width:40vw;
        
    }
    .contactText h1{
        font-size: 8px;
    }
    .contactText h2{
        font-size: 17px;
    }
}

@media(max-width:500px){
    .contactText{
        height: 50vh;
        width: 45vw;
    }
}