
.footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4,15vw);
    justify-content: center;
    gap: 5vw;
  
    
}




.footer a img{
    height: 15px;
    width: 15px;
  filter: brightness(0) invert(1);
}

.footer a{
    background-color: rgb(18, 17, 17);
   margin-right: 20px;
}

.footerfirst{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    
    /* justify-content: center; */

    
}
.footerfirst h3{
    margin-bottom: 6px;

}
.footerfirst p{
    /* padding: 0 20px; */
    text-align: start;
    font-size: 12px;
}

.footersecond ul li{
list-style: none;

}
.footersecond  a{
    text-decoration: none; 
    font-size: 12px;
}

.footersecond{
     margin-top: 33px;

}

.footersecond ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerimages{
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: 40px 40px;
    gap: 5px;
}
.footerthird img{
    height: 40px;
    width: 40px;
}
.footerthird p{
    margin-top: 30px;
    margin-bottom: 29px;
    font-weight: 600;
    font-size: 14px;
   
}

.footerfourth img{
    height: 20vh;
    width: 15vw;
}

.footer::after{
    content: "© Copyright 2025 Explore . All rights reserved";
    /* text-align: center;
     */
    display: inline-block;
    color:rgba(255, 255, 255, 0.348);
    /* width: 100vw; */
    width: 40vw;

    margin-top: -30px;
    padding-left: 30vw;
    font-size: 12px;
    
}

@media (max-width: 900px) {
.footerfourth img{
    height: 10vh;
    width: 15vw;
}
.footerimages{
      grid-template-columns: repeat(2, 40px);
    grid-template-rows: 40px 40px;
}


  }

  .footerimages img{
    cursor: pointer;
  }


